<h1><%= @user.name %>のお気に入り一覧</h1>

<table>
  <thead>
  <tr>
    <th>画像</th>
    <th>文章</th>
    <th>投稿者</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>

      <tr>
        <td><%= image_tag favorite.picture.image.url, class:'icon' %></td>
        <td><%= favorite.picture.content %></td>
        <td><%= link_to favorite.picture.user.name, favorite_path(favorite.picture.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back to TimeLine', pictures_path, class: "btn btn-light" %>